*{
    font-family: 'Roboto Condensed', sans-serif;
}

#textebox{
    padding: 100px 200px 200px 200px;
}

#titre{
    padding: 100px 150px 130px 100px;
}

.lignenav{
  border: 10px solid purple;
  opacity: 1;
  border-radius: 3px;
  margin: 0px;
  background-image: linear-gradient(to right, #9921e8, #7f5ff6, #7382f7, #7d9eef, #9ab5e1);
}
.lignegrise{
  
    margin: 25px -10px -25px -10px;
}

#colorfooter{
    background-image: linear-gradient(to right, #9921e8, #7f5ff6, #7382f7, #7d9eef, #9ab5e1);
    color: white;
    padding: 100px;
}

.buttoncolor{
    background-image: linear-gradient(to right, #9921e8, #7f5ff6, #7382f7, #7d9eef, #9ab5e1);
    color: white;
}

#boxlogin{
    margin: 150px 450px 150px 450px;
} 

#buttoncolorgrey{
    background-image: grey;
    color: white;  
}

#titre1{
    padding: 100px 150px 85px 100px;
}

.form-control{
    padding-bottom: 6px;
    margin-bottom: 20px;
}

#titreform{
    padding: 34px;
}

.box-form{
    padding: 120px 10px 10px 10px;  
    margin-bottom: 100px;
}

.card-body{
    padding: 2rem 1rem 2rem 17rem;
}

#nomprenom{
    padding-left: 1400px;
}

.buttoncolor{
    margin-top: 10px;
    margin-bottom: 30px;
}

.design{
    height: 150px;
    width: 220px ;
}

.espace{
    padding-bottom: 20px;
}